description = "add a new device"
==
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>





</script>
<div>

    <!-- <form id="addDevice" name="addDevice" action=""> -->
    <div class="form-group">
        <label class="" for="device">Device</label>

        <input type="text" id="device" class="form-control" value="" name="device" minlength="5" maxlength="20"  placeholder="Device Type / Name"
            required />
    </div>

    <div class="form-group">
        <label for="version">Version</label>
        <input type="text" id="version" class="form-control" value="" name="version" minlength="5"  placeholder="Version, eg 2.01"
            maxlength="20" required />

    </div>

    <div class="form-group">
        <label for="status">Status</label>
        <input type="text" id="status" class="form-control" name="status" value="" minlength="1" placeholder="0 or 1"
            maxlength="1" pattern="[0-1]{1}" required oninvalid="this.setCustomValidity('you must enter 0 or 1')"
            oninput="this.setCustomValidity('')" /></br>

    </div>




    <button id="addDevice">Add New Device</button>
</div>






<script type="text/javascript">
    // my listeners (search button)
    $(function () {

        //click add fire Ajax search
        $("#addDevice").on("click", function () {


            AddDevice();

            ClearAddDevice();

        });
    });

    function ClearAddDevice() {

        document.getElementById('device').value='';
        document.getElementById('version').value='';
        document.getElementById('status').value='';
    }

    function AddDevice() {
        const json = JSON.stringify({ 'device': document.getElementById('device').value, 'version': document.getElementById('version').value, 'status': document.getElementById('status').value });
        const res = axios.post('http://localhost:3000/device/', json, {
            headers: {
                // Overwrite Axios's automatically set Content-Type
                'Content-Type': 'application/json'
            }
        });
    }

</script>