==
<?php
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
?>
==
<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}" style="font-family: 'Oxanium', cursive; font-size: 42px;">acarium</a>
            
            <!-- <a class="navbar-brand" href="{{ 'home'|page }}" style="font-family: 'Mina', sans-serif; font-weight: 400; font-size: 30px;">acarium</a> -->
            

        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'index' %}active{% endif %}"><a href="{{ 'index'|page }}">home</a></li>
                

                
                <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">contact us</a></li>
                
                <li class="{% if this.page.id == 'devices' %}active{% endif %}"><a href="{{ 'devices'|page }}">devices</a></li>
                {% if user %}

                <li class="{% if this.page.id == 'account' %}active{% endif %}"><a href="{{ 'account'|page }}">account</a></li>
                <li><a data-request="onLogout" data-request-data="redirect: '/signin'">sign out</a></li>
                {% else %}
                <li class="{% if this.page.id == 'signin' %}active{% endif %}"><a href="{{ 'signin'|page }}">sign in</a></li>
                
                {% endif %}                
                
            </ul>
        </div>
    </div>
</nav>